.achievements {
    background: $grey-bg;
    padding: 30px 0;

    .title {
        @extend %h3-caps;
        color: $main-regular;
        margin-bottom: 30px;
    }
    .achievement {
        .carousel-item {
            background: $grey-bg;
            img {
                max-width: 300px;
                &:not(:last-child) {
                    margin-right: 40px;
                }

            }
        }
    }
}