.baner_services {
    margin-bottom: 40px;

    .baner_services__shadow {
        .first-shadow {
            height: 10px;
            background-color: #CACADB;
            width: calc(100% - 40px);
            margin: 0 auto;
            border-radius: 0 0 12px 12px;

        }

        .second-shadow {
            height: 10px;
            background-color: #E7E7F2;
            width: calc(100% - 80px);
            margin: 0 auto;
            border-radius: 0 0 12px 12px;
        }
    }

    .background {
        background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%);
        border-radius: 0 0 12px 12px;

        .background-img {
            background-image: url(./../images/baner/Cover.png);
            background-repeat: no-repeat;
            background-size: contain;
        }

        .service__content {
            .service-info {
                margin: 0 auto 80px;
                img {
                    margin-bottom: 20px;
                }
                h2 {
                    @extend %hero;
                    @extend %text-gradient;
                    margin-bottom: 20px;
                }

                p {
                    @extend %introduction;
                    color: $white;
                    margin-bottom: 40px;

                }

                button {
                    @extend %button;
                }
            }

            .service-more-info {
                border-top: 4px solid #9898b2;
                padding: 20px;
                margin: 0 auto 80px;

                h3 {
                    @extend %h3;
                    color: $white;
                    margin-bottom: 20px;
                }

                .service-list {

                    li {
                        color: $accent;
                        margin-bottom: 20px;

                        span {
                            max-width: 500px;
                            font-size: 18px;
                            line-height: 26px;
                            color: $white;
                        }
                    }
                }
            }
        }

    }
}