.content {
    .service-info {
        img {
            margin-bottom: 20px;
        }

        h2 {
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        p {
            font-size: 21px;
            line-height: 30px;
            color: #FFFFFF;

        }
    }
}
.background-img{
    background-image: url(./../images/baner/Cover.png);
    background-size: cover;
}