.partners {
    .title {
        @extend %h3-caps;
        color: $main-regular;
        margin-bottom: 30px;
        text-align: center;
    }
    .partners__cards {
        width: 100%;
        .partners__card {
            padding: 0;
            img {
                width: 100%;
                max-height: 120px;
            }
        }
    }
}