footer {
    border-top: 4px solid $grey-separator;
    padding: 30px 0 40px;
    background: $grey-bg;

    .nav {
        ul {
            list-style: none;
            padding: 0;

            li {
                margin-right: 10px;

                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-regular;

                }

                .map {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $active-regular;

                    &:hover {
                        color: $accent;
                    }

                    &:active {
                        color: #b91347;
                    }
                }

                .contact {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: $active-regular;

                    &:hover {
                        color: $accent;
                    }

                    &:active {
                        color: #b91347;
                    }
                }

                .number {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-alt;
                }

                a {
                    text-decoration: none;
                }

                &::after {
                    margin-left: 10px;
                    color: gray;
                    content: "\2022";
                    font-weight: bold;
                }

                &:last-child {
                    &::after {
                        content: "";
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .copyright {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #B3B3BA;
    }
}