.team {
    .team__content {
        .title {
            @extend %hero;
            @extend %text-gradient;
            margin: 0 auto 80px;
        }
    }
    .team__cards {
        .team__card {
            margin-bottom: 40px;

            .text {
                .info {
                    .name {
                        @extend %h4;
                        color: $main-regular;
                        margin-bottom: 5px;
                    }

                    .position {
                        @extend %paragraph-min;
                        color: $grey-text;
                    }
                }
            }
            .team__photo {
                img {
                    border-radius: 12px;
                }
                margin-bottom: 20px;
            }
        }
    }
}