@charset "UTF-8";
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("./../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Bold.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Bold.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("./../fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Medium.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Medium.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Medium.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("./../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Regular.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Regular.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Thin.eot");
  src: local("TT Norms Thin"), local("TTNorms-Thin"), url("./../fonts/TTNorms/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Thin.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Thin.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Thin.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Thin.svg#TTNorms-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Norms", sans-serif;
}

a {
  display: inline-block;
}

body {
  position: relative;
}

header {
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
header a {
  display: inline-block;
}
header ul {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: white;
}
header .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
header .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
}
header .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: white;
}
header .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
}
header .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
header .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
header .contact-info .facebook-logo img:hover path {
  fill: red;
}
header .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  border: 2px solid none;
}
header .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
header li {
  padding-right: 16px;
}
header li .pressed-nav {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.header-var2 {
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
.header-var2 a {
  display: inline-block;
}
.header-var2 ul {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #b3b3ba;
}
.header-var2 .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.header-var2 .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
  color: white;
}
.header-var2 .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: #b3b3ba;
}
.header-var2 .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}
.header-var2 .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
.header-var2 .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.header-var2 .contact-info .facebook-logo img:hover path {
  fill: red;
}
.header-var2 .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  text-decoration: none;
  border: 2px solid none;
}
.header-var2 .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
.header-var2 li {
  padding-right: 16px;
}
.header-var2 li .pressed-nav {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.experience_services {
  margin-bottom: 40px;
}
.experience_services .experience_services__shadow .first-shadow {
  height: 10px;
  background-color: #CACADB;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .experience_services__shadow .second-shadow {
  height: 10px;
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .background {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-bottom: 22px;
  border-radius: 0 0 12px 12px;
}
.experience_services .banner .banner-img {
  margin-bottom: 80px;
}
.experience_services .banner .banner-img img {
  width: 100%;
  max-height: 644px;
}
.experience_services .banner .banner-img .banner-text {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: white;
}
.experience_services .banner .carousel {
  margin-bottom: 80px;
}
.experience_services .banner .carousel .btn:focus {
  box-shadow: none;
}
.experience_services .banner .carousel .card {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: left;
}
.experience_services .banner .carousel .card .title {
  font-size: 32px;
  line-height: 38px;
  font-weight: medium;
}
.experience_services .banner .carousel .card .text {
  font-size: 21px;
  line-height: 30px;
}
.experience_services .banner .carousel .collapsing {
  -webkit-transition: none;
  transition: none;
}
.experience_services .banner .carousel .buttons {
  max-width: 527px;
}
.experience_services .banner .carousel .buttons button {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
  color: #B3B3BA;
  border-right: 4px solid #E6E6F0;
  border-radius: 0;
  margin: 0;
  padding-right: 40px;
}
.experience_services .banner .carousel .buttons button:focus {
  border-right: 4px solid #F0145A;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .carousel .buttons button:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .carousel .buttons button:active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #ac0f41 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .services .title {
  margin-bottom: 68px;
}
.experience_services .banner .services .title a {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #9090ab;
}
.experience_services .banner .services .title .text {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .services .services__cards .services__card {
  margin-bottom: 58px;
}
.experience_services .banner .services .services__cards .services__card .picture {
  margin-bottom: 20px;
}
.experience_services .banner .services .services__cards .services__card .card__title {
  color: #24A3FF;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.experience_services .banner .services .services__cards .services__card .card__text {
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-bottom: 0;
}

.team-card-preview {
  margin-bottom: 42px;
}
.team-card-preview .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.team-card-preview .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.team-card-preview .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.team-card-preview .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.team-card-preview .carousel-indicators button:active {
  background-color: #238edb;
}
.team-card-preview .carousel-item .card-body {
  padding: 40px 16px 16px 16px;
}
.team-card-preview .carousel-item a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.team-card-preview .carousel-item .card-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.team-card-preview .carousel-item .card-text {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  margin-bottom: 5px;
}
.team-card-preview .carousel-item small {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.successful-cases {
  padding-bottom: 30px;
}
.successful-cases .successful-cases__content {
  border-radius: 12px;
  overflow: hidden;
}
.successful-cases .successful-cases__content .title {
  padding: 20px 0 20px 20px;
  border: 1px solid white;
  background: #f5f5fa;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  font-weight: bold;
}
.successful-cases .successful-cases__content .first-card {
  padding: 0;
}
.successful-cases .successful-cases__content .case-card {
  min-height: 198px;
  vertical-align: bottom;
  background: #f5f5fa;
  padding: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
}
.successful-cases .successful-cases__content .case-card .card-text {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  font-weight: medium;
  margin-bottom: 20px;
}
.successful-cases .successful-cases__content .case-card .company {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.successful-cases .successful-cases__content .case-card:first-child {
  background: #f5f5fa;
  padding: 0 0 20px 0;
  border: 1px solid white;
}
.successful-cases .successful-cases__content .case-card:first-child .card-text {
  padding-left: 20px;
}
.successful-cases .successful-cases__content .case-card:first-child .company {
  padding-left: 20px;
}

.partners .title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.partners .partners__cards .partners__card {
  padding: 0;
}
.partners .partners__cards .partners__card img {
  width: 100%;
  max-height: 120px;
}

.posts {
  background: #f5f5fa;
  position: relative;
  box-shadow: inset 0 -200px 200px -7px rgba(245, 245, 250, 0.86);
}
.posts .shadow {
  box-shadow: inset 0 -200px 200px -7px rgba(245, 245, 250, 0.86);
}
.posts .container {
  padding: 40px 0 0 0;
}
.posts .view-more button {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 78px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  position: absolute;
  bottom: 60px;
}
.posts .view-more button:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.posts .view-more button:active {
  background: #006CCF;
}
.posts .title {
  margin-bottom: 40px;
}
.posts .title a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.posts .title a:hover {
  color: #51b3f8;
}
.posts .title a:active {
  color: #187ac0;
}
.posts .title h3 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.posts .posts__cards .wrapper-card .card {
  margin: 0 0 40px 0;
  border-radius: 8px;
  max-width: 414px;
  margin-right: 0;
}
.posts .posts__cards .wrapper-card .card .card-body {
  padding: 20px;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  text-decoration: none;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title:hover {
  color: #68bbf7;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title:active {
  color: #1572b4;
}
.posts .posts__cards .wrapper-card .card .card-body .post__date {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin: 10px 0 20px 0;
}
.posts .posts__cards .wrapper-card .card .card-body .post__text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 0;
}
.posts .posts__cards .wrapper-card .card .card-body hr {
  border: 4px solid #e6e6f0;
  margin: 0 0 20px 0;
}

.about {
  padding-bottom: 96px;
}
.about .about__content {
  margin-bottom: 100px;
}
.about .about__content .introduction h3 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about__content .introduction p {
  font-size: 21px;
  line-height: 30px;
  color: #000000;
}
.about .about__content .advantages {
  border-left: 4px solid #E6E6F0;
  padding-left: 20px;
  margin: auto 0;
}
.about .about__content .advantages .advantage .heading {
  max-width: 391px;
  font-weight: bold;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  line-height: 42px;
}
.about .about__content .advantages .advantage .text {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}
.about .about__content .advantages .advantage:not(:last-child) {
  margin-bottom: 40px;
}
.about .team-photo {
  margin-bottom: 80px;
}
.about .more-text .text {
  font-size: 21px;
  line-height: 30px;
  color: #000000;
}
.about .more-text .title {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.achievements {
  background: #f5f5fa;
  padding: 30px 0;
}
.achievements .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}
.achievements .achievement .carousel-item {
  background: #f5f5fa;
}
.achievements .achievement .carousel-item img {
  max-width: 300px;
}
.achievements .achievement .carousel-item img:not(:last-child) {
  margin-right: 40px;
}

.team .team__content .title {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 80px;
}
.team .team__cards .team__card {
  margin-bottom: 40px;
}
.team .team__cards .team__card .text .info .name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #323264;
  margin-bottom: 5px;
}
.team .team__cards .team__card .text .info .position {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}
.team .team__cards .team__card .team__photo {
  margin-bottom: 20px;
}
.team .team__cards .team__card .team__photo img {
  border-radius: 12px;
}

.team-member {
  padding-bottom: 80px;
}
.team-member .team-member__content .team-member__photo img {
  border-radius: 12px;
}
.team-member .team-member__content .team-member__bio {
  padding-left: 20px;
}
.team-member .team-member__content .team-member__bio .heading h2 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team-member .team-member__content .team-member__bio .heading .info {
  padding-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 40px;
}
.team-member .team-member__content .team-member__bio .heading .info span {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
  margin-right: 10px;
}
.team-member .team-member__content .team-member__bio .heading .info span::after {
  margin-left: 10px;
  color: #E6E6F0;
  content: "•";
  font-weight: bold;
}
.team-member .team-member__content .team-member__bio .heading .info a {
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  text-decoration: none;
  margin-right: 10px;
}
.team-member .team-member__content .team-member__bio .heading .info a:hover {
  color: #6db6eb;
}
.team-member .team-member__content .team-member__bio .heading .info a:active {
  color: #1c7bbe;
}
.team-member .team-member__content .team-member__bio .heading .info a::after {
  margin-left: 10px;
  color: #E6E6F0;
  content: "•";
  font-weight: bold;
}
.team-member .team-member__content .team-member__bio .heading .info a:last-child::after {
  content: "";
  margin-left: 0;
}
.team-member .team-member__content .team-member__bio .bio p {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.team-member .team-member__content .team-member__bio .bio p:not(:last-child) {
  margin-bottom: 40px;
}
.team-member .team-member__content .team-member__bio .bio h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.contact-page {
  padding-bottom: 80px;
}
.contact-page .contact__info {
  margin-right: 150px;
}
.contact-page .contact__info .address {
  margin-bottom: 40px;
  border-bottom: 4px solid #E6E6F0;
}
.contact-page .contact__info .address p {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  max-width: 200px;
  margin-bottom: 20px;
}
.contact-page .contact__info .info {
  margin-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
}
.contact-page .contact__info .info p {
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
}
.contact-page .contact__info .info a {
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 40px;
}
.contact-page .contact__info .info a:hover {
  color: #F0145A;
}
.contact-page .contact__info .info a:active {
  color: #b91347;
}
.contact-page .contact__info .facebook a {
  text-decoration: none;
}
.contact-page .contact__info .facebook a:hover .text {
  color: #F0145A;
}
.contact-page .contact__info .facebook a .facebook-logo {
  margin-right: 10px;
}
.contact-page .contact__info .facebook a .text {
  max-width: 123px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.contact-page .contact__info .facebook a .text:hover {
  color: #F0145A;
}
.contact-page .contact__info .facebook a .text:active {
  color: #b91347;
}
.contact-page .contact_form {
  background: #F5F5FA;
  border-radius: 12px;
  padding: 20px;
}
.contact-page .contact_form h3 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}
.contact-page .contact_form label {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 10px;
}
.contact-page .contact_form .text-form {
  border-radius: 8px;
  border: 2px solid transparent;
}
.contact-page .contact_form .text-form:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-page .contact_form .text-form::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.contact-page .contact_form textarea {
  border-radius: 8px;
  resize: none;
  border: 2px solid transparent;
}
.contact-page .contact_form textarea:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-page .contact_form textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.contact-page .contact_form .submit {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 78px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  bottom: 60px;
}
.contact-page .contact_form .submit:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.contact-page .contact_form .submit:active {
  background: #006CCF;
}

.baner_services {
  margin-bottom: 40px;
}
.baner_services .baner_services__shadow .first-shadow {
  height: 10px;
  background-color: #CACADB;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.baner_services .baner_services__shadow .second-shadow {
  height: 10px;
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.baner_services .background {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%);
  border-radius: 0 0 12px 12px;
}
.baner_services .background .background-img {
  background-image: url(./../images/baner/Cover.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.baner_services .background .content .service-info {
  margin: 0 auto 80px;
}
.baner_services .background .content .service-info img {
  margin-bottom: 20px;
}
.baner_services .background .content .service-info h2 {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.baner_services .background .content .service-info p {
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.baner_services .background .content .service-info button {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 78px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  bottom: 60px;
}
.baner_services .background .content .service-info button:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.baner_services .background .content .service-info button:active {
  background: #006CCF;
}
.baner_services .background .content .service-more-info {
  border-top: 4px solid #9898b2;
  padding: 20px;
  margin: 0 auto 80px;
}
.baner_services .background .content .service-more-info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.baner_services .background .content .service-more-info .service-list li {
  color: #F0145A;
  margin-bottom: 20px;
}
.baner_services .background .content .service-more-info .service-list li span {
  max-width: 500px;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.contact-pop-up .modal-content {
  background-color: #F5F5FA;
}
.contact-pop-up .modal-content .modal-body h3 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 20px;
}
.contact-pop-up .modal-content .modal-body .btn-close {
  color: #ec6f5d;
}
.contact-pop-up .modal-content .modal-body label {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 10px;
}
.contact-pop-up .modal-content .modal-body .text-form {
  border-radius: 8px;
  border: 2px solid transparent;
}
.contact-pop-up .modal-content .modal-body .text-form:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-pop-up .modal-content .modal-body .text-form::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.contact-pop-up .modal-content .modal-body textarea {
  border-radius: 8px;
  resize: none;
  border: 2px solid transparent;
}
.contact-pop-up .modal-content .modal-body textarea:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-pop-up .modal-content .modal-body textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.contact-pop-up .modal-content .modal-body .submit {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 78px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  bottom: 60px;
}
.contact-pop-up .modal-content .modal-body .submit:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.contact-pop-up .modal-content .modal-body .submit:active {
  background: #006CCF;
}

footer {
  border-top: 4px solid #E6E6F0;
  padding: 30px 0 40px;
  background: #f5f5fa;
}
footer .nav ul {
  list-style: none;
  padding: 0;
}
footer .nav ul li {
  margin-right: 10px;
}
footer .nav ul li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}
footer .nav ul li .map {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
footer .nav ul li .map:hover {
  color: #F0145A;
}
footer .nav ul li .map:active {
  color: #b91347;
}
footer .nav ul li .contact {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
footer .nav ul li .contact:hover {
  color: #F0145A;
}
footer .nav ul li .contact:active {
  color: #b91347;
}
footer .nav ul li .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
}
footer .nav ul li a {
  text-decoration: none;
}
footer .nav ul li::after {
  margin-left: 10px;
  color: gray;
  content: "•";
  font-weight: bold;
}
footer .nav ul li:last-child::after {
  content: "";
  margin-left: 0;
}
footer .copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #B3B3BA;
}

/*# sourceMappingURL=style.css.map */
