@charset "UTF-8";
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("./../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Bold.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Bold.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("./../fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Medium.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Medium.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Medium.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("./../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Regular.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Regular.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Thin.eot");
  src: local("TT Norms Thin"), local("TTNorms-Thin"), url("./../fonts/TTNorms/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Thin.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Thin.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Thin.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Thin.svg#TTNorms-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.publication .publication_content .post h2, .baner_services .background .service__content .service-info h2, .team-member .team-member__content .team-member__bio .heading h2, .team .team__content .title, .about .more-text .title, .about .about__content .introduction h3, .posts .title h3, .team-card-preview .carousel-item .card-title, .experience_services .banner .services .title .text, .experience_services .banner .experience .buttons button {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
}

.contact-pop-up .modal-content .modal-body h3, .contact-page .contact__form h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.publication .publication_content .heading .text h2, .experience_services .banner .experience .card .title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.experience_services .experience-mobile h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.publication .publication_content .post h3, .baner_services .background .service__content .service-more-info h3, .successful-cases .successful-cases__content .case-card .card-text, .experience_services .banner .services .services__cards .services__card .card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.contact-pop-up .modal-content .modal-body label, .contact-page .contact__form label, .team-member .team-member__content .team-member__bio .bio h3, .achievements .title, .posts .title a, .partners .title, .successful-cases .successful-cases__content .title, .team-card-preview-mobile .carousel-item a, .team-card-preview .carousel-item a, .experience_services .experience-mobile h4, .experience_services .banner .services .title a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.team .team__cards .team__card .text .info .name, .posts .posts__cards .wrapper-card .card .card-body .post__title, .team-card-preview-mobile .carousel-item .card-text, .team-card-preview .carousel-item .card-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.publication .publication_content .post p, .contact-pop-up .modal-content .modal-body textarea::placeholder, .contact-pop-up .modal-content .modal-body .text-form::placeholder, .contact-page .contact__form textarea::placeholder, .contact-page .contact__form .text-form::placeholder, .team-member .team-member__content .team-member__bio .bio p, .successful-cases .successful-cases__content .case-card .company, .experience_services .banner .services .services__cards .services__card .card__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.team-member .team-member__content .team-member__bio .heading .info span, .team .team__cards .team__card .text .info .position, .posts .posts__cards .wrapper-card .card .card-body .post__text, .team-card-preview-mobile .carousel-item small, .team-card-preview .carousel-item small {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.baner_services .background .service__content .service-info p, .about .more-text .text, .about .about__content .introduction p, .experience_services .banner .experience .card .text {
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
}

.publication .publication_content .post h2, .contact-pop-up .modal-content .modal-body h3, .baner_services .background .service__content .service-info h2, .contact-page .contact__form h3, .team-member .team-member__content .team-member__bio .heading h2, .team .team__content .title, .about .more-text .title, .about .about__content .advantages .advantage .heading, .about .about__content .introduction h3, .posts .title h3, .team-card-preview-mobile .carousel-item .card-title, .team-card-preview .carousel-item .card-title, .experience_services .experience-mobile h4, .experience_services .banner .services .title .text, .experience_services .banner .experience .buttons button:active, .experience_services .banner .experience .buttons button:hover, .experience_services .banner .experience .buttons button:focus {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-pop-up .modal-content .modal-body .submit, .baner_services .background .service__content .service-info button, .contact-page .contact__form .submit {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 73px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
}
.contact-pop-up .modal-content .modal-body .submit:hover, .baner_services .background .service__content .service-info button:hover, .contact-page .contact__form .submit:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.contact-pop-up .modal-content .modal-body .submit:active, .baner_services .background .service__content .service-info button:active, .contact-page .contact__form .submit:active {
  background: #006CCF;
}

body {
  font-family: "TT Norms", sans-serif;
  overflow-x: hidden;
}

a {
  display: inline-block;
}

body {
  position: relative;
}

header {
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
header a {
  display: inline-block;
}
header ul {
  padding: 0;
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: white;
}
header .right-nav {
  padding: 0;
}
header .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
header .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
}
header .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: white;
}
header .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
}
header .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
header .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
header .contact-info .facebook-logo img:hover path {
  fill: red;
}
header .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  border: 2px solid none;
}
header .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
header .nav-header a .pressed-nav {
  color: #F0145A;
  pointer-events: none;
  border-bottom: 2px solid #F0145A;
}
header li:not(:last-child) {
  padding-right: 16px;
}
header li .pressed-nav {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
  pointer-events: none;
}

.header-var2 {
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
.header-var2 a {
  display: inline-block;
}
.header-var2 ul {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #b3b3ba;
}
.header-var2 .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.header-var2 .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
  color: white;
  pointer-events: none;
}
.header-var2 .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: #b3b3ba;
}
.header-var2 .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}
.header-var2 .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
.header-var2 .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.header-var2 .contact-info .facebook-logo img:hover path {
  fill: red;
}
.header-var2 .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  text-decoration: none;
  border: 2px solid none;
}
.header-var2 .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
.header-var2 li {
  padding-right: 16px;
}
.header-var2 li .pressed-nav {
  color: #F0145A;
  pointer-events: none;
  border-bottom: 2px solid #F0145A;
}

.header-tablet-small-var2 {
  display: none;
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
.header-tablet-small-var2 .logo {
  margin-bottom: 15px;
}
.header-tablet-small-var2 a {
  display: inline-block;
}
.header-tablet-small-var2 ul {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: #b3b3ba;
}
.header-tablet-small-var2 .contact-info {
  padding-left: 22px;
  margin-bottom: 15px;
}
.header-tablet-small-var2 .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.header-tablet-small-var2 .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
  color: white;
  pointer-events: none;
}
.header-tablet-small-var2 .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: #b3b3ba;
}
.header-tablet-small-var2 .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
  color: white;
}
.header-tablet-small-var2 .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
.header-tablet-small-var2 .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.header-tablet-small-var2 .contact-info .facebook-logo img:hover path {
  fill: red;
}
.header-tablet-small-var2 .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  text-decoration: none;
  border: 2px solid none;
}
.header-tablet-small-var2 .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
.header-tablet-small-var2 li {
  padding-right: 16px;
}
.header-tablet-small-var2 li .pressed-nav {
  color: #F0145A;
  pointer-events: none;
  border-bottom: 2px solid #F0145A;
}

.header-tablet-small {
  display: none;
}
.header-tablet-small .logo button {
  display: none;
}

.offcanvas-header-mobile .offcanvas-header {
  display: flex;
  justify-content: flex-end;
}
.offcanvas-header-mobile .offcanvas-header .btn-close {
  background: url(./../images/header/Close.svg);
}
.offcanvas-header-mobile .offcanvas-body {
  text-align: center;
}
.offcanvas-header-mobile .offcanvas-body a {
  background: #F5F5FA;
  border-radius: 12px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #24A3FF;
  text-decoration: none;
}
.offcanvas-header-mobile .offcanvas-body a:hover {
  color: #F0145A;
}
.offcanvas-header-mobile .offcanvas-body a:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 20000px) {
  .header-tablet-small-var2 .logo button {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header-tablet-small-var2 .logo button {
    display: none;
  }

  .header-tablet-small .logo {
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .header-tablet-small-var2 .logo button {
    display: none;
  }

  header {
    position: relative;
  }
  header .container {
    max-width: 100%;
    padding: 0 20px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  header .contact-info {
    top: 30px;
    position: absolute;
  }
  header .right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  header .right-nav .nav-header li {
    padding-right: 10px;
  }

  .header-var2 {
    position: relative;
  }
  .header-var2 .container {
    max-width: 100%;
    padding: 0 20px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .header-var2 .contact-info {
    top: 30px;
    position: absolute;
  }
  .header-var2 .right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .header-var2 .right-nav .nav-header li {
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .header-var2 {
    display: none;
  }

  .header-tablet-small-var2 {
    display: block;
  }
  .header-tablet-small-var2 .logo button {
    display: none;
  }

  .header-main-page {
    display: none;
  }

  .header-tablet-small {
    display: block;
  }
}
@media (max-width: 576px) {
  .header-tablet-small .logo a {
    width: 224px;
  }
  .header-tablet-small .logo a img {
    width: 100%;
  }

  .header-tablet-small-var2 .contact-info {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-tablet-small-var2 .contact-info .address {
    display: none;
  }
  .header-tablet-small-var2 .contact-info .facebook-logo {
    display: none;
  }
  .header-tablet-small-var2 .contact-info .number {
    padding-right: 0;
  }
  .header-tablet-small-var2 .logo a {
    width: 224px;
  }
  .header-tablet-small-var2 .logo a img {
    width: 100%;
  }
  .header-tablet-small-var2 .logo .humburger {
    display: inline-block;
  }
  .header-tablet-small-var2 .nav-header {
    display: none;
  }

  .header-tablet-small .logo button {
    display: inline-block;
  }
  .header-tablet-small .contact-info .address {
    display: none;
  }
  .header-tablet-small .contact-info .facebook-logo {
    display: none;
  }
  .header-tablet-small .nav-header {
    display: none;
  }
}
.experience_services {
  margin-bottom: 40px;
}
.experience_services .experience_services__shadow .first-shadow {
  height: 10px;
  background-color: #CACADB;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .experience_services__shadow .second-shadow {
  height: 10px;
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .background {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-bottom: 22px;
  border-radius: 0 0 12px 12px;
}
.experience_services .banner .banner-img {
  margin-bottom: 80px;
}
.experience_services .banner .banner-img img {
  width: 100%;
  max-height: 644px;
}
.experience_services .banner .banner-img .banner-text {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}
.experience_services .banner .experience {
  margin-bottom: 80px;
}
.experience_services .banner .experience .btn:focus {
  box-shadow: none;
}
.experience_services .banner .experience .card {
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  text-align: left;
}
.experience_services .banner .experience .collapsing {
  -webkit-transition: none;
  transition: none;
}
.experience_services .banner .experience .buttons {
  max-width: 527px;
}
.experience_services .banner .experience .buttons button {
  text-align: right;
  color: #B3B3BA;
  border-right: 4px solid #E6E6F0;
  border-radius: 0;
  margin: 0;
  padding-right: 40px;
}
.experience_services .banner .experience .buttons button:focus {
  border-right: 4px solid #F0145A;
}
.experience_services .banner .services .title {
  margin-bottom: 68px;
}
.experience_services .banner .services .title a {
  text-decoration: none;
  color: #9090ab;
}
.experience_services .banner .services .services__cards .services__card {
  margin-bottom: 58px;
}
.experience_services .banner .services .services__cards .services__card .picture {
  margin-bottom: 20px;
}
.experience_services .banner .services .services__cards .services__card .card__title {
  color: #24A3FF;
  margin-bottom: 15px;
  text-decoration: none;
}
.experience_services .banner .services .services__cards .services__card .card__title:hover {
  color: #0085FF;
}
.experience_services .banner .services .services__cards .services__card .card__title:active {
  color: #006CCF;
}
.experience_services .banner .services .services__cards .services__card .card__text {
  color: #FFFFFF;
  margin-bottom: 0;
}
.experience_services .experience-mobile {
  display: none;
  margin-bottom: 40px;
}
.experience_services .experience-mobile h4 {
  margin-bottom: 10px;
}
.experience_services .experience-mobile h3 {
  color: #FFFFFF;
  margin-bottom: 15px;
}
.experience_services .experience-mobile p {
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.experience_services .experience-mobile .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.experience_services .experience-mobile .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.experience_services .experience-mobile .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.experience_services .experience-mobile .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.experience_services .experience-mobile .carousel-indicators button:active {
  background-color: #238edb;
}

@media (max-width: 1000px) {
  .experience-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .banner .experience .card .text {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
  }
  .banner .experience .buttons button {
    padding-right: 20px !important;
    font-weight: bold !important;
    font-size: 32px !important;
    line-height: 38px !important;
  }
  .banner .experience-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .banner .experience {
    display: none;
  }
  .banner .experience-mobile {
    display: block;
  }

  .services .title .text {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }
}
.team-card-preview {
  margin-bottom: 42px;
}
.team-card-preview .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.team-card-preview .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.team-card-preview .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.team-card-preview .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.team-card-preview .carousel-indicators button:active {
  background-color: #238edb;
}
.team-card-preview .carousel-item .card-body {
  padding: 40px 16px 16px 16px;
}
.team-card-preview .carousel-item a {
  text-decoration: none;
}
.team-card-preview .carousel-item .card-title {
  margin-bottom: 20px;
}
.team-card-preview .carousel-item .card-text {
  color: #B3B3BA;
  margin-bottom: 5px;
}
.team-card-preview .carousel-item small {
  color: #B3B3BA;
}

.team-card-preview-mobile {
  margin-bottom: 42px;
  display: none;
}
.team-card-preview-mobile .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.team-card-preview-mobile .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.team-card-preview-mobile .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.team-card-preview-mobile .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.team-card-preview-mobile .carousel-indicators button:active {
  background-color: #238edb;
}
.team-card-preview-mobile .carousel-item .card-body {
  padding: 40px 0 16px 16px;
}
.team-card-preview-mobile .carousel-item a {
  text-decoration: none;
}
.team-card-preview-mobile .carousel-item .card-title {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team-card-preview-mobile .carousel-item .card-text {
  color: #B3B3BA;
  margin-bottom: 5px;
}
.team-card-preview-mobile .carousel-item small {
  color: #B3B3BA;
}
.team-card-preview-mobile .carousel-item .user-card .user-photo {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.team-card-preview-mobile .carousel-item .user-card .user-photo img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid grey;
}

@media (max-width: 1000px) {
  .team-card-preview-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .team-card-preview-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .team-card-preview-mobile {
    display: block;
  }

  .team-card-preview {
    display: none;
  }
}
.successful-cases {
  padding-bottom: 30px;
}
.successful-cases .successful-cases__content {
  border-radius: 12px;
  overflow: hidden;
}
.successful-cases .successful-cases__content .title {
  padding: 20px 0 20px 20px;
  background: #F5F5FA;
  border: 1px solid white;
  color: #F0145A;
}
.successful-cases .successful-cases__content .first-card {
  padding: 0;
}
.successful-cases .successful-cases__content .case-card {
  min-height: 198px;
  vertical-align: bottom;
  background: #F5F5FA;
  padding: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
}
.successful-cases .successful-cases__content .case-card .card-text {
  margin-bottom: 20px;
  color: #686887;
}
.successful-cases .successful-cases__content .case-card .company {
  color: #B3B3BA;
}
.successful-cases .successful-cases__content .case-card:first-child {
  background: #F5F5FA;
  padding: 0 0 20px 0;
  border: 1px solid white;
}
.successful-cases .successful-cases__content .case-card:first-child .card-text {
  padding-left: 20px;
}
.successful-cases .successful-cases__content .case-card:first-child .company {
  padding-left: 20px;
}

.partners .title {
  color: #323264;
  margin-bottom: 30px;
  text-align: center;
}
.partners .partners__cards {
  width: 100%;
}
.partners .partners__cards .partners__card {
  padding: 0;
}
.partners .partners__cards .partners__card img {
  width: 100%;
  max-height: 120px;
}

.posts {
  background: #f5f5fa;
  position: relative;
  box-shadow: inset 0 -200px 200px -7px rgba(245, 245, 250, 0.86);
}
.posts .shadow {
  box-shadow: inset 0 -200px 200px -7px rgba(245, 245, 250, 0.86);
}
.posts .container {
  padding: 40px 0 0 0;
}
.posts .view-more button {
  border: none;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 16px 78px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  position: absolute;
  bottom: 60px;
}
.posts .view-more button:hover {
  background: #0085FF;
  box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
}
.posts .view-more button:active {
  background: #006CCF;
}
.posts .title {
  margin-bottom: 40px;
}
.posts .title a {
  color: #24A3FF;
  text-decoration: none;
}
.posts .title a:hover {
  color: #0085FF;
}
.posts .title a:active {
  color: #006CCF;
}
.posts .posts__cards {
  margin: 0 auto;
}
.posts .posts__cards .wrapper-card {
  padding: 0 5px;
}
.posts .posts__cards .wrapper-card .card {
  margin: 0 0 40px 0;
  border-radius: 8px;
  max-width: 414px;
  margin-right: 0;
}
.posts .posts__cards .wrapper-card .card .card-body {
  padding: 20px;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title {
  color: #24A3FF;
  text-decoration: none;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title:hover {
  color: #0085FF;
}
.posts .posts__cards .wrapper-card .card .card-body .post__title:active {
  color: #006CCF;
}
.posts .posts__cards .wrapper-card .card .card-body .post__date {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin: 10px 0 20px 0;
}
.posts .posts__cards .wrapper-card .card .card-body .post__text {
  color: #000000;
  margin-bottom: 0;
}
.posts .posts__cards .wrapper-card .card .card-body hr {
  border: 4px solid #E6E6F0;
  margin: 0 0 20px 0;
}

@media (max-width: 576px) {
  .posts .container {
    padding: 40px 5px 0;
  }
  .posts .posts__cards .wrapper-card .card .card-body .post__text {
    display: none;
  }
  .posts .posts__cards .wrapper-card .card .card-body hr {
    display: none;
  }
}
.about {
  padding-bottom: 96px;
}
.about .about__content {
  margin-bottom: 100px;
}
.about .about__content .introduction p {
  color: #000000;
}
.about .about__content .advantages {
  border-left: 4px solid #E6E6F0;
  padding-left: 20px;
  margin: auto 0;
}
.about .about__content .advantages .advantage .heading {
  max-width: 391px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.about .about__content .advantages .advantage .text {
  font-size: 18px;
  line-height: 21px;
  color: #323264;
}
.about .about__content .advantages .advantage:not(:last-child) {
  margin-bottom: 40px;
}
.about .team-photo {
  margin-bottom: 80px;
}
.about .more-text .text {
  color: #000000;
}
@media (max-width: 767px) {
  .about {
    padding-bottom: 20px;
  }
  .about .advantages {
    border-left: none !important;
    border-top: 4px solid #E6E6F0;
    padding-top: 15px;
  }
}
.achievements {
  background: #F5F5FA;
  padding: 30px 0;
}
.achievements .title {
  color: #323264;
  margin-bottom: 30px;
}
.achievements .achievement .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.achievements .achievement .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.achievements .achievement .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.achievements .achievement .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.achievements .achievement .carousel-indicators button:active {
  background-color: #238edb;
}
.achievements .achievement .carousel-item {
  background: #F5F5FA;
}
.achievements .achievement .carousel-item .company {
  padding-right: 20px;
}
.achievements .achievement .carousel-item .company img {
  width: 100%;
  max-width: 300px;
}
.achievements .achievement .carousel-item .company img:not(:last-child) {
  margin-right: 40px;
}

.team .team__content .title {
  margin: 0 auto 80px;
}
.team .team__cards .team__card {
  margin-bottom: 40px;
  max-width: 413px;
}
.team .team__cards .team__card .text .info .name {
  color: #323264;
  margin-bottom: 5px;
}
.team .team__cards .team__card .text .info .position {
  color: #B3B3BA;
}
.team .team__cards .team__card .team__photo {
  margin-bottom: 20px;
}
.team .team__cards .team__card .team__photo img {
  border-radius: 12px;
  width: 100%;
}

@media (max-width: 576px) {
  .team .team__content .title {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
  }
  .team .team__content .team__cards .team__card {
    display: flex !important;
    align-items: flex-end;
  }
  .team .team__content .team__cards .team__card .team__photo {
    margin: 0;
  }
  .team .team__content .team__cards .team__card .text {
    padding-left: 20px;
  }
  .team .team__content .team__cards .team__card .text .name {
    margin-bottom: 5px;
  }
  .team .team__content .team__cards .team__card .text .position {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }
}
.team-member {
  padding-bottom: 80px;
}
.team-member .team-member__content .team-member__photo img {
  border-radius: 12px;
  width: 100%;
}
.team-member .team-member__content .team-member__bio {
  padding-left: 20px;
}
.team-member .team-member__content .team-member__bio .heading .info {
  padding-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 40px;
}
.team-member .team-member__content .team-member__bio .heading .info span {
  color: #B3B3BA;
  margin-right: 10px;
}
.team-member .team-member__content .team-member__bio .heading .info span::after {
  margin-left: 10px;
  color: #E6E6F0;
  content: "•";
  font-weight: bold;
}
.team-member .team-member__content .team-member__bio .heading .info a {
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
  text-decoration: none;
  margin-right: 10px;
}
.team-member .team-member__content .team-member__bio .heading .info a:hover {
  color: #0085FF;
}
.team-member .team-member__content .team-member__bio .heading .info a:active {
  color: #006CCF;
}
.team-member .team-member__content .team-member__bio .heading .info a::after {
  margin-left: 10px;
  color: #E6E6F0;
  content: "•";
  font-weight: bold;
}
.team-member .team-member__content .team-member__bio .heading .info a:last-child::after {
  content: "";
  margin-left: 0;
}
.team-member .team-member__content .team-member__bio .bio p {
  color: #000000;
}
.team-member .team-member__content .team-member__bio .bio p:not(:last-child) {
  margin-bottom: 40px;
}
.team-member .team-member__content .team-member__bio .bio h3 {
  color: #323264;
}

@media (max-width: 576px) {
  .team-member .team-member__content .team-member__bio .heading .info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 4px solid #E6E6F0;
    margin-bottom: 40px;
  }
  .team-member .team-member__content .team-member__bio .heading .info span {
    color: #B3B3BA;
    margin: 0 0 10px 0;
  }
  .team-member .team-member__content .team-member__bio .heading .info span::after {
    display: none;
  }
  .team-member .team-member__content .team-member__bio .heading .info a:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .team-member .team-member__content .team-member__bio .heading .info a::after {
    display: none;
  }
}
.contact-page {
  padding-bottom: 80px;
}
.contact-page .contact__info {
  padding-right: 150px;
}
.contact-page .contact__info .address {
  margin-bottom: 40px;
  border-bottom: 4px solid #E6E6F0;
}
.contact-page .contact__info .address p {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  max-width: 200px;
  margin-bottom: 20px;
}
.contact-page .contact__info .info {
  margin-bottom: 20px;
  border-bottom: 4px solid #E6E6F0;
}
.contact-page .contact__info .info p {
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
}
.contact-page .contact__info .info a {
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 40px;
}
.contact-page .contact__info .info a:hover {
  color: #F0145A;
}
.contact-page .contact__info .info a:active {
  color: #b91347;
}
.contact-page .contact__info .facebook a {
  text-decoration: none;
}
.contact-page .contact__info .facebook a:hover .text {
  color: #F0145A;
}
.contact-page .contact__info .facebook a .facebook-logo {
  margin-right: 10px;
}
.contact-page .contact__info .facebook a .text {
  max-width: 123px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.contact-page .contact__info .facebook a .text:hover {
  color: #F0145A;
}
.contact-page .contact__info .facebook a .text:active {
  color: #b91347;
}
.contact-page .contact__form {
  background: #F5F5FA;
  border-radius: 12px;
  padding: 20px;
}
.contact-page .contact__form h3 {
  margin-bottom: 20px;
}
.contact-page .contact__form label {
  color: #B3B3BA;
  margin-bottom: 10px;
}
.contact-page .contact__form .text-form {
  border-radius: 8px;
  border: 2px solid transparent;
}
.contact-page .contact__form .text-form:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-page .contact__form .text-form::placeholder {
  color: #B3B3BA;
}
.contact-page .contact__form textarea {
  border-radius: 8px;
  resize: none;
  border: 2px solid transparent;
}
.contact-page .contact__form textarea:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-page .contact__form textarea::placeholder {
  color: #B3B3BA;
}
@media (max-width: 992px) {
  .contact-page .contact__content .contact__info {
    padding-right: 90px;
  }
}
@media (max-width: 767px) {
  .contact-page .contact__content .contact__info {
    padding: 0 10px;
    margin-bottom: 40px;
  }
}
.baner_services {
  margin-bottom: 40px;
}
.baner_services .baner_services__shadow .first-shadow {
  height: 10px;
  background-color: #CACADB;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.baner_services .baner_services__shadow .second-shadow {
  height: 10px;
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.baner_services .background {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%);
  border-radius: 0 0 12px 12px;
}
.baner_services .background .background-img {
  background-image: url(./../images/baner/Cover.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.baner_services .background .service__content .service-info {
  margin: 0 auto 80px;
}
.baner_services .background .service__content .service-info img {
  margin-bottom: 20px;
}
.baner_services .background .service__content .service-info h2 {
  margin-bottom: 20px;
}
.baner_services .background .service__content .service-info p {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.baner_services .background .service__content .service-more-info {
  border-top: 4px solid #9898b2;
  padding: 20px;
  margin: 0 auto 80px;
}
.baner_services .background .service__content .service-more-info h3 {
  color: #FFFFFF;
  margin-bottom: 20px;
}
.baner_services .background .service__content .service-more-info .service-list li {
  color: #F0145A;
  margin-bottom: 20px;
}
.baner_services .background .service__content .service-more-info .service-list li span {
  max-width: 500px;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .service__content .service-info h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
.contact-pop-up .modal-content {
  background-color: #F5F5FA;
}
.contact-pop-up .modal-content .modal-body h3 {
  margin-bottom: 20px;
}
.contact-pop-up .modal-content .modal-body .btn-close {
  color: #ec6f5d;
}
.contact-pop-up .modal-content .modal-body label {
  color: #B3B3BA;
  margin-bottom: 10px;
}
.contact-pop-up .modal-content .modal-body .text-form {
  border-radius: 8px;
  border: 2px solid transparent;
}
.contact-pop-up .modal-content .modal-body .text-form:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-pop-up .modal-content .modal-body .text-form::placeholder {
  color: #B3B3BA;
}
.contact-pop-up .modal-content .modal-body textarea {
  border-radius: 8px;
  resize: none;
  border: 2px solid transparent;
}
.contact-pop-up .modal-content .modal-body textarea:focus {
  box-shadow: none;
  border: 2px solid #F0145A;
}
.contact-pop-up .modal-content .modal-body textarea::placeholder {
  color: #B3B3BA;
}
.switcher {
  margin: 0 auto;
  background: #E6E6F0;
  border-radius: 12px;
  max-width: 264px;
  padding: 2px;
}
.switcher a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #323264;
  padding: 7px 30px;
  text-decoration: none;
}
.switcher a:not(:last-child) {
  margin-right: 2px;
}
.switcher a:hover {
  background: #FFFFFF;
  border-radius: 10px;
}
.switcher .switcher-pressed {
  background: #FFFFFF;
  border-radius: 10px;
  pointer-events: none;
}

.publication .publication_content {
  max-width: 909px;
  margin: 0 auto;
}
.publication .publication_content .heading {
  margin-bottom: 40px;
}
.publication .publication_content .heading img {
  margin-bottom: 40px;
  padding: 0;
  width: 100%;
}
.publication .publication_content .heading .text {
  padding: 0 20px;
  border-bottom: 4px solid #EDEDF7;
}
.publication .publication_content .heading .text h2 {
  color: #323264;
  margin-bottom: 10px;
}
.publication .publication_content .heading .text p {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 40px;
}
.publication .publication_content .post {
  padding-bottom: 60px;
}
.publication .publication_content .post p {
  color: #000000;
}
.publication .publication_content .post h2 {
  margin-bottom: 40px;
}
.publication .publication_content .post h3 {
  color: #46466E;
  margin-bottom: 20px;
}
.publication .publication_content .post ol {
  padding: 0 20px;
}
.publication .publication_content .post ol li {
  color: #F0145A;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}
.publication .publication_content .post ol li span {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}
.publication .publication_content .post .results p {
  margin-bottom: 40px;
}
.publication .publication_content .post .results .advertisement {
  margin: 0 auto 40px;
}
.publication .publication_content .post .results .advertisement img {
  margin-bottom: 15px;
}
.publication .publication_content .post .results .advertisement span {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #B3B3BA;
}
.publication .publication_content .post .solution {
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 4px solid #E6E6F0;
}
.publication .publication_content .post .share a {
  margin-right: 10px;
}

@media (max-width: 576px) {
  .publication .publication_content {
    max-width: 909px;
    margin: 0 auto;
  }
  .publication .publication_content .heading {
    margin-bottom: 40px;
  }
  .publication .publication_content .heading img {
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
  }
  .publication .publication_content .heading .text {
    padding: 0 20px;
    border-bottom: 4px solid #EDEDF7;
  }
  .publication .publication_content .heading .text h2 {
    font-size: 22px;
    line-height: 26px;
    color: #323264;
    margin-bottom: 10px;
  }
  .publication .publication_content .heading .text p {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 40px;
  }
  .publication .publication_content .post {
    padding: 0 0 60px 0;
  }
  .publication .publication_content .post p {
    color: #000000;
  }
  .publication .publication_content .post h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  .publication .publication_content .post h3 {
    color: #46466E;
    margin-bottom: 20px;
  }
  .publication .publication_content .post ol {
    padding: 0 20px;
  }
  .publication .publication_content .post ol li {
    color: #F0145A;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .publication .publication_content .post ol li span {
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    font-weight: normal;
  }
  .publication .publication_content .post .share {
    text-align: center;
  }
}
footer {
  border-top: 4px solid #E6E6F0;
  padding: 30px 0 40px;
  background: #F5F5FA;
}
footer .nav ul {
  list-style: none;
  padding: 0;
}
footer .nav ul li {
  margin-right: 10px;
}
footer .nav ul li span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}
footer .nav ul li .map {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
footer .nav ul li .map:hover {
  color: #F0145A;
}
footer .nav ul li .map:active {
  color: #b91347;
}
footer .nav ul li .contact {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
footer .nav ul li .contact:hover {
  color: #F0145A;
}
footer .nav ul li .contact:active {
  color: #b91347;
}
footer .nav ul li .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
}
footer .nav ul li a {
  text-decoration: none;
}
footer .nav ul li::after {
  margin-left: 10px;
  color: gray;
  content: "•";
  font-weight: bold;
}
footer .nav ul li:last-child::after {
  content: "";
  margin-left: 0;
}
footer .copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #B3B3BA;
}

@media (max-width: 767px) {
  footer .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  footer .nav ul li::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
