@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("./../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Bold.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Bold.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("./../fonts/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Medium.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Medium.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Medium.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("./../fonts/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Regular.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Regular.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("./../fonts/TTNorms/TTNorms-Thin.eot");
  src: local("TT Norms Thin"), local("TTNorms-Thin"), url("./../fonts/TTNorms/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/TTNorms/TTNorms-Thin.woff2") format("woff2"), url("./../fonts/TTNorms/TTNorms-Thin.woff") format("woff"), url("./../fonts/TTNorms/TTNorms-Thin.ttf") format("truetype"), url("./../fonts/TTNorms/TTNorms-Thin.svg#TTNorms-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Norms", sans-serif;
}

body {
  position: relative;
}

.experience_services header {
  padding: 60px 0 0 0;
  margin-bottom: 64px;
}
.experience_services header a {
  display: inline-block;
}
.experience_services header ul {
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  color: white;
}
.experience_services header .contact-info .language {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
}
.experience_services header .contact-info .language .pressed {
  background: #F0145A;
  border-radius: 8px;
  pointer-events: none;
  cursor: default;
}
.experience_services header .contact-info .language a {
  text-decoration: none;
  margin-right: 2px;
  padding: 5px 6px;
  color: white;
}
.experience_services header .contact-info .language a:hover {
  background: #F0145A;
  border-radius: 8px;
}
.experience_services header .contact-info .address {
  font-size: 16px;
  line-height: 19px;
}
.experience_services header .contact-info .number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.experience_services header .contact-info .facebook-logo img:hover path {
  fill: red;
}
.experience_services header .nav-header a {
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
  border: 2px solid none;
}
.experience_services header .nav-header a:hover {
  border-bottom: 2px solid #F0145A;
}
.experience_services header li {
  padding-right: 16px;
}

.experience_services {
  margin-bottom: 40px;
}
.experience_services .experience_services__shadow .first-shadow {
  height: 10px;
  background-color: #CACADB;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .experience_services__shadow .second-shadow {
  height: 10px;
  background-color: #E7E7F2;
  width: calc(100% - 80px);
  margin: 0 auto;
  border-radius: 0 0 12px 12px;
}
.experience_services .background {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  padding-bottom: 22px;
  border-radius: 0 0 12px 12px;
}
.experience_services .banner .banner-img {
  margin-bottom: 80px;
}
.experience_services .banner .banner-img img {
  width: 100%;
  max-height: 644px;
}
.experience_services .banner .banner-img .banner-text {
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: white;
}
.experience_services .banner .carousel {
  margin-bottom: 80px;
}
.experience_services .banner .carousel .btn:focus {
  box-shadow: none;
}
.experience_services .banner .carousel .card {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: left;
}
.experience_services .banner .carousel .card .title {
  font-size: 32px;
  line-height: 38px;
  font-weight: medium;
}
.experience_services .banner .carousel .card .text {
  font-size: 21px;
  line-height: 30px;
}
.experience_services .banner .carousel .collapsing {
  -webkit-transition: none;
  transition: none;
}
.experience_services .banner .carousel .buttons {
  max-width: 527px;
}
.experience_services .banner .carousel .buttons button {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
  color: #B3B3BA;
  border-right: 4px solid #E6E6F0;
  border-radius: 0;
  margin: 0;
  padding-right: 40px;
}
.experience_services .banner .carousel .buttons button:focus {
  border-right: 4px solid #F0145A;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .carousel .buttons button:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .carousel .buttons button:active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #ac0f41 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .services .title {
  margin-bottom: 68px;
}
.experience_services .banner .services .title a {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #9090ab;
}
.experience_services .banner .services .title .text {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience_services .banner .services .services__cards .services__card {
  margin-bottom: 58px;
}
.experience_services .banner .services .services__cards .services__card .picture {
  margin-bottom: 20px;
}
.experience_services .banner .services .services__cards .services__card .card__title {
  color: #24A3FF;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
}
.experience_services .banner .services .services__cards .services__card .card__text {
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-bottom: 0;
}

.team-card-preview {
  margin-bottom: 42px;
}
.team-card-preview .carousel-indicators {
  position: relative;
  margin-bottom: 0;
}
.team-card-preview .carousel-indicators button {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-color: #d3edff;
}
.team-card-preview .carousel-indicators button:hover {
  background-color: #7cc8ff;
}
.team-card-preview .carousel-indicators button:focus {
  background-color: #24a3ff;
}
.team-card-preview .carousel-indicators button:active {
  background-color: #238edb;
}
.team-card-preview .carousel-item .card-body {
  padding: 40px 16px 16px 16px;
}
.team-card-preview .carousel-item a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.team-card-preview .carousel-item .card-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.team-card-preview .carousel-item .card-text {
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  margin-bottom: 5px;
}
.team-card-preview .carousel-item small {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.successful-cases {
  padding-bottom: 30px;
}
.successful-cases .successful-cases__content {
  border-radius: 12px;
  overflow: hidden;
}
.successful-cases .successful-cases__content .title {
  padding: 20px 0 20px 20px;
  border: 1px solid white;
  background: #f5f5fa;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  font-weight: bold;
}
.successful-cases .successful-cases__content .first-card {
  padding: 0;
}
.successful-cases .successful-cases__content .case-card {
  min-height: 198px;
  vertical-align: bottom;
  background: #f5f5fa;
  padding: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
}
.successful-cases .successful-cases__content .case-card .card-text {
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  font-weight: medium;
  margin-bottom: 20px;
}
.successful-cases .successful-cases__content .case-card .company {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}
.successful-cases .successful-cases__content .case-card:first-child {
  background: #f5f5fa;
  padding: 0 0 20px 0;
  border: 1px solid white;
}
.successful-cases .successful-cases__content .case-card:first-child .card-text {
  padding-left: 20px;
}
.successful-cases .successful-cases__content .case-card:first-child .company {
  padding-left: 20px;
}

.partners .title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
.partners .partners__cards .partners__card {
  padding: 0;
}
.partners .partners__cards .partners__card img {
  width: 100%;
  max-height: 120px;
}

/*# sourceMappingURL=style.css.map */
