@media (max-width:$xl) {
    .experience-mobile {
        display: none;
    }
}

@media (max-width:$lg) {
    .banner {
        .experience {
            .card {
                .text {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 26px;
                }

            }

            .buttons {
                button {
                    padding-right: 20px !important;
                    font-weight: bold !important;
                    font-size: 32px !important;
                    line-height: 38px !important;
                }

            }
        }
        .experience-mobile {
            display: none;
        }
    }
    
}





@media (max-width:$md) {
    .banner {
        .experience {
            display: none;
        }
        .experience-mobile {
            display: block;
        }
    }
    
    
    .services {
        .title {
            .text {
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
            }
        }

    }
}
   
@media (max-width:$sm) {
    
}