.about {
    padding-bottom: 96px;

    .about__content {
        margin-bottom: 100px;

        .introduction {
            h3 {
                @extend %hero;
                @extend %text-gradient;
            }

            p {
                @extend %introduction;
                color: $black;
            }
        }

        .advantages {
            border-left: 4px solid #E6E6F0;
            padding-left: 20px;
            margin: auto 0;

            .advantage {
                .heading {
                    max-width: 391px;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 42px;
                    @extend %text-gradient;

                }

                .text {
                    font-size: 18px;
                    line-height: 21px;
                    color: #323264;
                }

                &:not(:last-child) {
                    margin-bottom: 40px;
                }

            }
        }
    }

    .team-photo {
        margin-bottom: 80px;
    }

    .more-text {
        .text {
            @extend %introduction;
            color: $black;

        }

        .title {
            @extend %hero;
            @extend %text-gradient;
        }
    }
}