.contact-pop-up {
    .modal-content {
        background-color: #F5F5FA;
        .modal-body {
            h3 {
                @extend %text-gradient;
                @extend %hero-mobile;
                margin-bottom: 20px;
            }

            .btn-close {
                color: #ec6f5d;
            }

            label {
                @extend %h3-caps;
                color: $grey-text;
                margin-bottom: 10px;
            }

            .text-form {
                border-radius: 8px;
                border: 2px solid transparent;

                &:focus {
                    box-shadow: none;
                    border: 2px solid #F0145A;
                }


                &::placeholder {
                    @extend %paragraph;
                    color: $grey-text;
                }
            }

            textarea {
                border-radius: 8px;
                resize: none;
                border: 2px solid transparent;

                &:focus {
                    box-shadow: none;
                    border: 2px solid #F0145A;
                }

                &::placeholder {
                    @extend %paragraph;
                    color: $grey-text;

                }
            }

            .submit {
                @extend %button;
            }
        }

    }

}