.contact-page {
    padding-bottom: 80px;

    .contact__info {
        margin-right: 150px;

        .address {
            margin-bottom: 40px;
            border-bottom: 4px solid #E6E6F0;

            p {
                font-size: 21px;
                line-height: 30px;
                color: #323264;
                max-width: 200px;
                margin-bottom: 20px;
            }
        }

        .info {
            margin-bottom: 20px;
            border-bottom: 4px solid #E6E6F0;
            p {
                font-size: 21px;
                line-height: 30px;
                color: #46466E;
            }
            a {
                font-size: 21px;
                line-height: 30px;
                color: $active-regular;
                text-decoration: none;
                margin-bottom: 40px;

                &:hover {
                    color: #F0145A;
                }

                &:active {
                    color: #b91347;
                }
            }
        }

        .facebook {
            a {
                text-decoration: none;
                &:hover .text {
                    color: #F0145A;
                }

                .facebook-logo {
                    margin-right: 10px;
                }
                .text {
                    max-width: 123px;
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #24A3FF;
                    &:hover {
                        color: #F0145A;
                    }

                    &:active {
                        color: #b91347;
                    }
                }
            }
        }
    }

    .contact_form {
        background: $grey-bg;
        border-radius: 12px;
        padding: 20px;

        h3 {
            @extend %text-gradient;
            @extend %hero-mobile;
            margin-bottom: 20px;
        }

        label {
            @extend %h3-caps;
            color: $grey-text;
            margin-bottom: 10px;
        }

        .text-form {
            border-radius: 8px;
            border: 2px solid transparent;

            &:focus {
                box-shadow: none;
                border: 2px solid $accent;
            }
            &::placeholder {
                @extend %paragraph;
                color: $grey-text;
            }
        }
        textarea {
            border-radius: 8px;
            resize: none;
            border: 2px solid transparent;

            &:focus {
                box-shadow: none;
                border: 2px solid $accent;
            }

            &::placeholder {
                @extend %paragraph;
                color: $grey-text;
            }
        }

        .submit {
            @extend %button;
            
        }


    }

}