@media (max-width:$xl) {
    .team-card-preview-mobile{
        display: none;
    }
}

@media (max-width:$lg) {
    .team-card-preview-mobile{
        display: none;
    }
}

@media (max-width:$md) {
    .team-card-preview-mobile{
        display: block;
    }
    .team-card-preview{
        display: none;
    }
 
}

@media (max-width:$sm) {}