.team-member {
    padding-bottom: 80px;
    .team-member__content {
        .team-member__photo {
            img {
                border-radius: 12px;
            }
        }
        .team-member__bio {
            padding-left: 20px;
            .heading {
                h2 {
                    @extend %hero;
                    @extend %text-gradient;
                }

                .info {
                    padding-bottom: 20px;
                    border-bottom: 4px solid #E6E6F0;
                    margin-bottom: 40px;

                    span {
                        @extend %paragraph-min;
                        color: $grey-text;
                        margin-right: 10px;

                        &::after {
                            margin-left: 10px;
                            color: $grey-separator;
                            content: "\2022";
                            font-weight: bold;
                        }
                    }
                   
                    a {
                        font-size: 16px;
                        line-height: 19px;
                        color: $active-regular;
                        text-decoration: none;
                        margin-right: 10px;

                        &:hover {
                            color: $active-hover;
                        }

                        &:active {
                            color: $active-active;
                        }

                        &::after {
                            margin-left: 10px;
                            color: #E6E6F0;;
                            content: "\2022";
                            font-weight: bold;

                        }

                        &:last-child {
                            &::after {
                                content: "";
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .bio {
                p {
                    @extend %paragraph;
                    color: $black;
                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                }

                h3 {
                    @extend %h3-caps;
                    color: $main-regular;

                }
            }


        }
    }
}